Source: qfield
Section: science
Priority: optional
Maintainer: OPENGIS.ch <info@opengis.ch>
Build-Depends:
 bison,
 cmake,
 curl,
 debhelper-compat (= 12),
 flex,
 git,
 libqt5opengl5-dev,
 libqt5sensors5-dev,
 libqt5serialport5-dev,
 libqt5svg5-dev,
 libqt5webview5-dev,
 libzip-dev,
 libzxingcore-dev,
 ninja-build,
 qt5keychain-dev,
 qtbase5-private-dev,
 qtconnectivity5-dev,
 qtmultimedia5-dev,
 qtpositioning5-dev,
 qttools5-dev,
 tar,
 unzip,
 zip,
 zipcmp,
 zipmerge,
 ziptool
Standards-Version: 4.4.1
Homepage: https://qfield.org
#Vcs-Browser: https://github.com/opengisch/QField
#Vcs-Git: git@github.com:opengisch/QField.git

Package: qfield
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 qml-module-qtsensors,
 qml-module-qtquick-controls2,
 qml-module-qt-labs-settings,
 qml-module-qtquick-window2,
 qml-module-qtqml,
 qml-module-qtquick2,
 qml-module-qtquick-layouts,
 qml-module-qtwebview,
 qml-module-qtcharts,
 qml-module-qtgraphicaleffects,
 qml-module-qtmultimedia,
 qml-module-qtquick-shapes,
 qml-module-qt-labs-calendar,
 qml-module-qtquick-particles2
Description: A touch friendly and field work optimized app based on QGIS
 A simplified touch optimized interface for QGIS in the field.
